# Database files #
/docker/elasticsearch-data
/docker/mongodb-pedido
/docker/postgres-cadastro
/docker/postgres-marketplace

# Package Files #
*.jar
*.war
*.ear

# Gradle temporary files #
target/

# Eclipse files #
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project